extends layout

block content
  - var buttonLabels = ['フォローする', 'フォローしています']
  if user
    - var isNotSelf = user.id !== eventuser.userId
  else
    - var isNotSelf = true
  if isNotSelf
    if isFollowed
      button(class="follow-toggle-button nav-link btn-outline-success"
        data-viewuser-id=user.id
        data-eventuser-id=eventuser.userId
        data-isfollowed=isFollowed
        data-isauthenticated=isAuthenticated) #{buttonLabels[isFollowed]}
    else
      if isAuthenticated
        button(class="follow-toggle-button nav-link btn-outline-success"
          data-viewuser-id=user.id
          data-eventuser-id=eventuser.userId
          data-isfollowed=isFollowed
          data-isauthenticated=isAuthenticated) #{buttonLabels[isFollowed]}
      else
        button.noAuthenticatedFollowButton.nav-link.btn-outline-success  フォローする
  div.card.my-3
    div.card-body
      h5.card-title 
        a(href=`/${eventuser.username}`) #{title}
      p.card-subtitle.mb-2.text-muted
        a(href=`/${eventuser.username}/following`) フォロー：#{followCount}
      p.card-subtitle.mb-2.text-muted
        a(href=`/${eventuser.username}/followers`) フォロワー：#{followedCount}
    div.card-body
      - var hasFollowings = followings.length > 0
      h5.my-3 Followings
      if hasFollowings
        table.table
          each follow in followings
            tr
              td 
                a(href=`/${follow.followedname}`) #{follow.followedname}
      else
        table.table
          tr
            td
              h6(style="font-weight: bold").my-3 まだ誰もフォロワーしていません
              h7.my-3 フォローするとここに表示され、トップページにフォローした相手のイベントが表示されます。